@using EntityLayer.Concrete
@model List<Announcement>

<div class="blog" id="blog">
	<div class="container">
		<h3 class="tittle">Son Gelişmeler</h3>
		<p class="heading-btm-w3ls">Çiftliklerimizden ve tarlalarımızdan son gelişmeler aşağıdadır.</p>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-7 blog-img1-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal2"></a>
			</div>
			<div class=" col-md-5 blog-info-w3layouts">
				<h6> <a href="#" data-toggle="modal" data-target="#myModal2">TARIMDA DAHA FAZLA GELİŞİM VE BÜYÜME</a></h6>
				<div class="inner-info">
					<a href="#" class="blog-text-w3ls bar">Tarıma Dair.</a><span>16/11/2022</span>
					<p class="para-w3-agileits">Tarımda Daha Fazla Gelişim ve Büyüme, modern dünyanın karmaşık zorluklarına uyum sağlama amacı taşıyan bir vizyonu ifade eder. </p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Daha Fazla</a>

			</div>
			<div class="clearfix"></div>
		</div>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-5 blog-info-w3layouts blog-mid">
				<h6><a href="#" data-toggle="modal" data-target="#myModal3">TARIM ENDÜSTRİSİ GELİŞMEYE DEVAM ETMEKTE</a></h6>
				<div class="inner-info-mid">
					<a href="#" class="blog-text-w3ls mid-bar">Tarıma Dair.</a><span>12/10/2021</span>
					<p class="para-w3-agileits">Yenilikçi yaklaşımlar ve teknolojik ilerlemeler, tarım endüstrisinin ivme kazanmasını sürdürüyor.</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Daha Fazla</a>

			</div>
			<div class=" col-md-7 blog-img2-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal3"></a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-7 blog-img3-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal4"></a>
			</div>
			<div class=" col-md-5 blog-info-w3layouts">
				<h6><a href="#" data-toggle="modal" data-target="#myModal4">TARIM ŞİRKETİ OLARAK PAZARDAKİ İLK ADIMLARIMIZ</a></h6>
				<div class="inner-info">
					<a href="#" class="blog-text-w3ls bar">Tarıma Dair.</a><span>06/8/2021</span>
					<p class="para-w3-agileits">Yenilikçi ve vizyoner yaklaşımlarımızla, tarım sektöründeki varlığımızı güçlendirmek üzere pazarda önemli bir adım attık.</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Daha Fazla</a>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>BEREKETLİ TARIM</h4>
				<img src="~/web/images/b1.jpg" alt=" " class="img-responsive">
				<h5>TARIMDA DAHA FAZLA GELİŞİM VE BÜYÜME</h5>
				<p>Tarımda Daha Fazla Gelişim ve Büyüme, modern dünyanın karmaşık zorluklarına uyum sağlama amacı taşıyan bir vizyonu ifade eder. Yenilikçi tarım teknolojilerinin benimsenmesi, verimliliğin artırılması ve sürdürülebilir üretim yöntemlerinin kullanılması, bu hedefe ulaşmada temel adımları oluşturur. Tarım sektörünün büyümesi, gıda güvencesini artırmanın yanı sıra ekonomik kalkınma ve istihdam fırsatları da sunar. Çevrecilik, biyoçeşitliliğin korunması ve toprak verimliliği gibi unsurlar, bu büyümenin sürdürülebilirlik temelinde gerçekleşmesini sağlar. Tarımın geleceği, sürekli yenilenen bilgi ve işbirlikleriyle şekillenirken, daha verimli, çevre dostu ve kapsayıcı tarım modelleri arayışımız devam edecektir.</p>
			</div>
		</div>
	</div>
</div>
<!-- //Modal2 -->
<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>BEREKETLİ TARIM</h4>
				<img src="~/web/images/b2.jpg" alt=" " class="img-responsive">
				<h5>TARIM ENDÜSTRİSİ GELİŞMEYE DEVAM ETMEKTE</h5>
				<p>Yenilikçi yaklaşımlar ve teknolojik ilerlemeler, tarım endüstrisinin ivme kazanmasını sürdürüyor. Verimlilik artışı sağlayan modern tarım teknikleri, ürün kalitesini yükseltirken çevresel sürdürülebilirliği de ön planda tutuyor. Tarım sektörü, artan nüfus ve değişen iklim koşulları karşısında dönüşümünü hızlandırarak geleceğe yönelik sağlam adımlar atıyor. Araştırma ve eğitim yatırımları, çiftçilere daha fazla bilgi ve destek sunarak sektörün büyümesine katkı sağlıyor. Bu dinamik gelişmelerle birlikte, tarım endüstrisi, hem gıda güvencesini sağlama misyonunu sürdürüyor hem de ekonomik büyümeyi destekleyen önemli bir paydaş olarak rolünü pekiştiriyor.</p>
			</div>
		</div>
	</div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>BEREKETLİ TARIM</h4>
				<img src="~/web/images/b3.jpg" alt=" " class="img-responsive">
				<h5>TARIM ŞİRKETİ OLARAK PAZARDAKİ İLK ADIMLARIMIZ</h5>
				<p>Yenilikçi ve vizyoner yaklaşımlarımızla, tarım sektöründeki varlığımızı güçlendirmek üzere pazarda önemli bir adım attık. Müşteri odaklı çözümler ve kalite odaklı ürünlerimizle, tarımın farklı alanlarında çiftçilerimize destek sunmayı hedefliyoruz. Sektördeki deneyimimiz ve uzman ekibimizle, sürdürülebilir tarımı teşvik ederek, verimliliği ve ürün kalitesini artırmak için çabalıyoruz. İlk adımlarımız, daha büyük ve aydınlık bir tarım geleceğinin temelini atmamıza yardımcı olacak ve sektördeki etkimizi genişletecektir.</p>
			</div>
		</div>
	</div>
</div>
<!-- //Modal4 -->